<nb-card accent="info">
    <nb-card-body>
        <nb-accordion>
            <nb-accordion-item *ngFor="let item of movies">
                <nb-accordion-item-header (click)="onClose()">
                    <h4>{{item.title}}</h4>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <p>Synopsis :</p> {{item.synopsis}}
                    <p>Année de production :</p> {{item.yearRelease}}
                    <p><button nbButton status="info" (click)="onVisible()">Details</button></p>
                    <app-detail 
                    [class]="isVisible ? 'hiddenComponent':''" [id]="item.id"
                    (closeDetail)="onClose()"></app-detail>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </nb-card-body>
    <nb-card-footer><button nbButton status="info">New</button></nb-card-footer>
</nb-card>
