@import '../../../../themes.scss';

nb-accordion-item-body p{
    font-weight: bold;
    font-size: 1.5em;
}
nb-accordion-item-header h4{
    color: wheat !important;
}
.hiddenComponent{
    display: none;
}