<nb-card accent="info">
    <nb-card-body>
        <nb-accordion>
            <nb-accordion-item *ngFor="let item of movies">
                <nb-accordion-item-header (click)="onClose()">
                    <h4 class="">{{item.title}}</h4>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    
                    <p class="h5">Synopsis :<p > <p>{{item.synopsis}}</p>
                    <p class="h5">Année de production :</p> <p>{{item.yearRelease}}</p>
                    <p>
                        <button nbButton status="info" (click)="onVisible()">Details</button>&nbsp;
                        <a *ngIf="_user.isAdmin()" routerLink="update/{{item.id}}" nbButton status="info">Modifier</a>&nbsp;
                    </p>
                    <app-detail 
                    [class]="isVisible ? 'hiddenComponent':''" [id]="item.id"
                    (closeDetail)="onClose()"></app-detail>

                    <app-notice [id]="item.id"></app-notice>

                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </nb-card-body>
    <nb-card-footer *ngIf="_user.isAdmin()"><a routerLink="create" nbButton status="info">New</a></nb-card-footer>
</nb-card>
