
<nb-card class="container" *ngIf="user">
    <nb-card-header>Profil : {{user.email}}</nb-card-header>
    <nb-card-body>
        Pseudo : {{user.Pseudo}}
        <div>
            <nb-card>
                <nb-card-body *ngIf="user.role == 'admin'">
                    <nb-menu [items]="items"></nb-menu>
                </nb-card-body>
                <nb-card-footer>
                    <a [routerLink]="['/user/reset/'+user.Id]" nbButton status="info">Modifier Password</a>
                </nb-card-footer>
            </nb-card>
        </div>

    </nb-card-body>
</nb-card>
