<h4 class="h4">Liste par Producteur ou Scenariste</h4>

<input [ngModel]="value" 
(ngModelChange)="onModelChange($event)" nbInput  type="text" placeholder="Acteur" [nbAutocomplete]="autoNgModel"/>

<nb-autocomplete #autoNgModel>
    
    <nb-option *ngFor="let item of filterPerson" [value]="item.completeName">
        {{item.completeName}}
    </nb-option>
    
</nb-autocomplete>
<button nbButton status='info' (click)="choiceProducteur()" type="submit">Valider</button>


<ng-container *ngIf="movieByProd">
    <nb-card >
        <nb-card-header>Liste des films pour l'acteur : {{movieByProd.person.firstName}} - {{movieByProd.person.lastName}}</nb-card-header>
        <nb-card-body class="container" *ngFor="let item of movieByProd.personProdWritMovies">
            <nb-list>
                <nb-list-item><strong>Titre du film :</strong>{{item.title}}</nb-list-item>
                <nb-list-item><strong>Description du film : </strong>{{item.synopsis}}</nb-list-item>
            </nb-list>
            <hr>
        </nb-card-body>
    </nb-card>
</ng-container>