<nb-card class="container">
    <nb-card-header>Mise a jour du password</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <input type="hidden" [ngModel]="user.id" formControlName="id"/>
            <input style="width: 20%;" nbInput formControlName="email" type="text" disabled [ngModel]="user.email"/>
            <input nbInput placeholder="Password" formControlName="password" type="password"/>
            <input nbInput placeholder="Confirm Password" formControlName="confirmPassword" type="password"/>
            <div *ngIf="form.get('confirmPassword').errors">
                <p>Le mot de passe n'est pas identique</p>
            </div>
            <button nbButton status="info" type="submit">Reset</button>
        </form>
    </nb-card-body>
</nb-card>

