<nb-layout>

  <nb-layout-header fixed>
    <nb-actions>
      <nb-action *ngIf="_service.token != null" icon="home-outline" link="user/profil"></nb-action>
      <nb-action *ngIf="_service.token != null" icon="power-outline" (click)="logout()"></nb-action>
      <nb-action *ngIf="_service.token == null" icon="plus-outline" link="user/register"></nb-action>
      <nb-action *ngIf="_service.token == null" icon="person-outline" link="user/login"></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar>
    <nb-sidebar-header>Menu</nb-sidebar-header>
    <nb-layout-column>
      <app-nav></app-nav>
    </nb-layout-column>
  </nb-sidebar>
  <nb-layout-column>
       <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
