<div class="container">
<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Content</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of notice">
            <td>{{item.id}}</td>
            <td>{{item.content}}</td>
            <td>{{item.dateNotice|date:'dd-MM-yyyy'}}</td>
            <td><button (click)="openModal(item.id)" nbButton status="info">Detail</button></td>   
        </tr>
    </tbody>
</table>
</div>